In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [24]:
# load the dataset 
d=pd.read_csv('TIDD.csv')

In [25]:
d.head()

   Age  height  weight  Premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [32]:
# Find the mean of the height column
mean_height= d.height.mean()
mean_height

165.1

In [33]:
# fill the missing value in the entire column
d.height.fillna(mean_height)

0    162.56
1    172.72
2    167.64
3    165.10
4    157.48
Name: height, dtype: float64

In [35]:
# fill the missing value in the entire dataset
d.height=d.height.fillna(mean_height)
d

   Age  height  weight  Premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40  165.10     110    60000
4   45  157.48      85    70000

In [36]:
#declare the varible in linear regression
reg=linear_model.LinearRegression()

In [37]:
# fits the variables name 
reg.fit(d[['Age','height','weight']],d['Premium'])

LinearRegression()

In [39]:
# find the coefficent value 
reg.coef_

array([2150.26052416, -248.45851574,  312.65291961])

In [40]:
# find the intercept value 
reg.intercept_

-16827.013154824977

In [42]:
# find the Predict value 
reg.predict([[27,167.56,60]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18357.48727691])

In [44]:
# find the predict value manually 
2150.26052416* 27+-248.45851574*167.56+312.65291961*60+-16827.013154824977

18357.487276700624