In [2]:
import pandas as pd

In [3]:
d=pd.read_csv('Social_Network_Ads.csv')

In [4]:
d

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [17]:
# Use Iloc Method 
x=d.iloc[:,[1,2,3]].values
x

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [18]:
# Puchased column data
y=d.iloc[:,-1].values
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [19]:
# use of string to binary convert module in LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()

In [22]:

x[:,0]=le.fit_transform(x[:,0])

In [23]:
x                                                                                               # 1 male , 0 female

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)  # testing gives the

In [26]:
len(x_test)

80

In [27]:
len(x_train)

320

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
model=GaussianNB()

In [30]:
model.fit(x_train,y_train)

GaussianNB()

In [31]:
model.predict(x_test)           # purchased record  -----purcahsed 1 ,not purchased 0

array([0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1], dtype=int64)

In [32]:
x_test              # 1 male , 0 female

array([[0, 27, 17000],
       [0, 36, 75000],
       [0, 57, 26000],
       [0, 38, 55000],
       [1, 30, 17000],
       [0, 52, 138000],
       [0, 35, 57000],
       [0, 44, 39000],
       [0, 37, 57000],
       [1, 40, 57000],
       [0, 21, 16000],
       [1, 29, 148000],
       [0, 56, 104000],
       [1, 42, 65000],
       [1, 45, 79000],
       [0, 39, 79000],
       [0, 48, 30000],
       [0, 48, 134000],
       [1, 30, 89000],
       [1, 19, 19000],
       [0, 37, 33000],
       [1, 35, 91000],
       [0, 30, 62000],
       [0, 32, 135000],
       [1, 35, 53000],
       [0, 26, 80000],
       [0, 39, 61000],
       [0, 44, 139000],
       [1, 33, 43000],
       [1, 29, 43000],
       [1, 22, 18000],
       [1, 38, 51000],
       [0, 24, 32000],
       [0, 58, 47000],
       [0, 24, 89000],
       [0, 46, 74000],
       [1, 29, 80000],
       [0, 18, 86000],
       [1, 49, 28000],
       [0, 45, 45000],
       [0, 57, 33000],
       [1, 28, 89000],
       [0, 48, 96000],
       [1, 32, 100000],
       [0, 43, 112000],
       [0, 28, 59000],
       [0, 31, 71000],
       [0, 41, 72000],
       [1, 40, 71000],
       [0, 55, 130000],
       [0, 39, 134000],
       [1, 57, 74000],
       [1, 30, 135000],
       [0, 32, 150000],
       [1, 39, 106000],
       [1, 37, 70000],
       [1, 40, 107000],
       [1, 29, 43000],
       [1, 28, 59000],
       [1, 48, 74000],
       [1, 20, 49000],
       [1, 55, 39000],
       [1, 48, 33000],
       [0, 28, 84000],
       [0, 26, 15000],
       [0, 37, 80000],
       [1, 34, 115000],
       [0, 22, 63000],
       [0, 35, 65000],
       [1, 26, 30000],
       [1, 39, 122000],
       [0, 47, 50000],
       [0, 29, 83000],
       [1, 26, 32000],
       [0, 52, 38000],
       [0, 53, 104000],
       [0, 60, 108000],
       [0, 29, 28000],
       [1, 35, 88000],
       [0, 54, 26000]], dtype=object)

In [33]:
model.score(x_test,y_test)

0.9